<div class="footer">
    <div class="footer__info">
        <span class="footer__info-title">
            © 2020 | All Rights Reserved | 
        </span>
        <span class="btn__autors">
            Developed with
            <img src="./images/footer/heart.png" class="img">
            <span>by <a href="#" id="myBtn" class="myBtn">GoIT Students</a></span>
        </span>
    </div>
</div>

<!-- Modal Footer-->
<div id="myModal" class="footer__modal">
    <div class="modal-content">
      <div class="modal-header">
        <span class="close">&times;</span>
      </div>
      <!-- Modal Body-->
      <ul class="footer__modal-body">
          <li>
            <div class="modal-body">
                <img src="./images/footer/Rectangle 18.jpg" alt="" class="footer__autors">
                <span class="footer__modal-info">
                    <h3 class="footer__h3">Valeriy Kaleniuk</h3>
                    <span class="footer__links">
                        <a href="https://github.com/Caraset" class="gh-p" target="blank">GitHub</a>
                        <a href="https://www.linkedin.com/feed/" class="linkedin" target="blank">LinkedIn</a>
                    </span>
                </span>
              </div>
          </li>
          <hr>
          <li>
            <div class="modal-body">
                <img src="./images/footer/Rectangle 14.jpg" alt="" class="footer__autors">
                <span class="footer__modal-info">
                    <h3 class="footer__h3">Yuliya Knoroz</h3>
                    <span class="footer__links">
                        <a href="https://github.com/JKnoroz" class="gh-p" target="blank">GitHub</a>
                        <a href="https://www.linkedin.com/feed/" class="linkedin" target="blank">LinkedIn</a>
                    </span>
                </span>
              </div>
          </li>
          <hr>
          <li>
            <div class="modal-body">
                <img src="./images/footer/Rectangle 17.jpg" alt="" class="footer__autors">
                <span class="footer__modal-info">
                    <h3 class="footer__h3">Vitaly</h3>
                    <span class="footer__links">
                        <a href="https://github.com/vitaly171" class="gh-p" target="blank">GitHub</a>
                        <a href="https://www.linkedin.com/feed/" class="linkedin" target="blank">LinkedIn</a>
                    </span>
                </span>
              </div>
          </li>
          <hr>
          <li>
            <div class="modal-body">
                <img src="./images/footer/Rectangle 19.jpg" alt="" class="footer__autors">
                <span class="footer__modal-info">
                    <h3 class="footer__h3">Johny Gray</h3>
                    <span class="footer__links">
                        <a href="https://github.com/" class="gh-p" target="blank">GitHub</a>
                        <a href="https://www.linkedin.com/feed/" class="linkedin" target="blank">LinkedIn</a>
                    </span>
                </span>
            </div>
          </li>
          <hr>
          <li>
            <div class="modal-body">
                <img src="./images/footer/Rectangle 13.jpg" alt="" class="footer__autors">
                <span class="footer__modal-info">
                    <h3 class="footer__h3">Antony Iv</h3>
                    <span class="footer__links">
                        <a href="https://github.com/" class="gh-p" target="blank">GitHub</a>
                        <a href="https://www.linkedin.com/feed/" class="linkedin" target="blank">LinkedIn</a>
                    </span>
                </span>
              </div>
          </li>
          <hr>
          <li>
            <div class="modal-body">
                <img src="./images/footer/Rectangle 5.jpg" alt="" class="footer__autors">
                <span class="footer__modal-info">
                    <h3 class="footer__h3">Eugene Pavlovskiy</h3>
                    <span class="footer__links">
                        <a href="https://github.com/Eugene-Pavlovskiy" class="gh-p" target="blank">GitHub</a>
                        <a href="https://www.linkedin.com/feed/" class="linkedin" target="blank">LinkedIn</a>
                    </span>
                </span>
              </div>
          </li>
      </ul>
      
    </div>
  </div>
  