<!-- Footer -->
<div class="footer">
  <div class="footer__info">
    <span class="footer__info-title"> © 2021 | All Rights Reserved | </span>
    <span class="btn__autors">
      Developed with
      <img src="./images/footer/heart.png" class="img" />
      <span>by <a href="#" id="myBtn" class="myBtn">GoIT Students</a></span>
    </span>
  </div>
</div>

<!-- Modal Footer -->
<div id="myModal" class="footer__modal">
  <div class="modal__content">
    <!-- Modal Footer Header-->
    <div class="modal-header">
      <span class="close">&times;</span>
    </div>
    <!-- Modal Footer Slider -->
    <div class="slider">
      <div class="slider-line">
        
        <!-- Modal Body -->
        <div class="modal-body">
          <img src="./images/footer/15.jpg" alt="" class="footer__autors" />
          <span class="footer__modal-info">
            <h3 class="footer__h3">Valerii Kalenyuk</h3>
            <span class="footer__links">
              <a href="https://github.com/Caraset" class="footer__links-link" target="blank">
                <img src="./images/footer/github.png" alt="GitHub" class="footer__social" />
              </a>
              <a href="https://www.linkedin.com/in/valerii-kalenyuk-76994a223/" class="footer__links-link" target="blank">
                <img src="./images/footer/linkedin.png" alt="LinkedIn"  class="footer__social" />
              </a>
            </span>
          </span>
        </div>
          
        <div class="modal-body">
          <img src="./images/footer/26.jpg" alt="" class="footer__autors" />
          <span class="footer__modal-info">
            <h3 class="footer__h3">Yuliya Knoroz</h3>
            <span class="footer__links">
              <a href="https://github.com/JKnoroz" class="footer__links-link" target="blank">
                <img src="./images/footer/github.png" alt="GitHub" class="footer__social" />
              </a>
              <a href="https://www.linkedin.com/in/yuliya-knoroz-454276b4/" class="footer__links-link" target="blank">
                <img src="./images/footer/linkedin.png" alt="LinkedIn"  class="footer__social" />
              </a>
            </span>
          </span>
        </div>
          
        <div class="modal-body">
              <img src="./images/footer/6.jpg" alt="" class="footer__autors" />
              <span class="footer__modal-info">
                <h3 class="footer__h3">Vitaly Ivlev</h3>
                <span class="footer__links">
                  <a href="https://github.com/vitaly171" class="footer__links-link" target="blank">
                    <img src="./images/footer/github.png" alt="GitHub" class="footer__social" />
                  </a>
                  <a href="https://www.linkedin.com/in/vitaly-ivlev-a74aa5169/" class="footer__links-link" target="blank">
                    <img src="./images/footer/linkedin.png" alt="LinkedIn"  class="footer__social" />
                  </a>
                </span>
              </span>
            </div>
          
            <div class="modal-body">
              <img src="./images/footer/4.jpg" alt="" class="footer__autors" />
              <span class="footer__modal-info">
                <h3 class="footer__h3">Johny Gray</h3>
                <span class="footer__links">
                  <a href="https://github.com/" class="footer__links-link" target="blank">
                    <img src="./images/footer/github.png" alt="GitHub" class="footer__social" />
                  </a>
                  <a href="https://www.linkedin.com/feed/" class="footer__links-link" target="blank">
                    <img src="./images/footer/linkedin.png" alt="LinkedIn"  class="footer__social" />
                  </a>
                </span>
              </span>
            </div>

            <div class="modal-body">
              <img src="./images/footer/7.jpg" alt="" class="footer__autors" />
              <span class="footer__modal-info">
                <h3 class="footer__h3">Antony Ivanov</h3>
                <span class="footer__links">
                  <a href="https://github.com/Antony-Ivanov" class="footer__links-link" target="blank">
                    <img src="./images/footer/github.png" alt="GitHub" class="footer__social" />
                  </a>
                  <a href="https://www.linkedin.com/in/antony-ivanov-054759223/" class="footer__links-link" target="blank">
                    <img src="./images/footer/linkedin.png" alt="LinkedIn"  class="footer__social" />
                  </a>
                </span>
              </span>
            </div>
          
            <div class="modal-body">
              <img src="./images/footer/10.jpg" alt="" class="footer__autors" />
              <span class="footer__modal-info">
                <h3 class="footer__h3">Eugene Pavlovskiy</h3>
                <span class="footer__links">
                  <a href="https://github.com/Eugene-Pavlovskiy" class="footer__links-link" target="blank">
                    <img src="./images/footer/github.png" alt="GitHub" class="footer__social" />
                  </a>
                  <a href="https://www.linkedin.com/in/eugene-pavlovskiy/" class="footer__links-link" target="blank">
                    <img src="./images/footer/linkedin.png" alt="LinkedIn"  class="footer__social" />
                  </a>
                </span>
              </span>
            </div>
          
      </div>
    </div>
    <!-- Modal Footer Slider Btn -->
    <hr />
    <div class="modal-footer">
      <button class="slider-previous">previous</button>
      <button class="slider-next">next</button>
    </div>
  </div>
</div>