<main>
  <div class="container">
    <div class="inner-container">
      <div class="not-found-container"></div>
      <div class="lds-default js-spiner">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
      </div>

      <div class="gallery-trending gallery-container">
        <!-- <ul class="gallery-trending__list"></ul> -->
        <!-- <div class="gallery-container"></div> -->
      </div>

      <div class="pagination">
        <!-- <button class="pagination__arrow js-arrow-left">
          <svg style="fill: #ff0000" class="pagination__arrow-logo" width="16px" height="16px">
            <use href="/images/arrow-left-a.svg"></use>
          </svg>
        </button> -->
        <div class="pagination__container"></div>

        <!-- <button class="pagination__arrow js-arrow-right">
          <svg class="pagination__arrow-logo" width="16px" height="16px">
            <use href="./images/sprite.svg#arrow-right"></use>
          </svg>
        </button> -->
      </div>
    </div>
  </div>
</main>
