<div class="backdrop" data-action="close-modal">
  <div class="modal">
    <!-- <button class="modal-close">
      <svg class="modal-icon">
        <use href="./images/sprite.svg#close"></use>
      </svg>
    </button> -->
    <!-- <div data-film="modal-pop" class="modal-content">
        </div> -->
    <!--<ul class="modal-btn-list">
            <li class="btn-list-item"><button class="btn-watched">add to watched</button></li>
            <li class="btn-list-item"><button class="btn-watched btn-queue">add to queue</button></li>
        </ul>-->
        <!-- <button type="button" class="modal-button" data-action="toggle-video"  data-index="{{index}}">Watch trailer</button> -->
        
  </div>
  <div class="trailer-container">
  
  </div>
  <button type="button" class="modal-button close-video-btn display-btn" data-action="toggle-video-close"  data-index="{{index}}">Close video</button>
</div>
