<div class="backdrop">
    <div class="modal">
        <button class="modal-close">
            <svg class="modal-icon">
                <use href="./images/sprite.svg#close"></use>
            </svg>
        </button>
        <div data-film="modal-pop" class="modal-content">
        </div>
        <!--<ul class="modal-btn-list">
            <li class="btn-list-item"><button class="btn-watched">add to watched</button></li>
            <li class="btn-list-item"><button class="btn-watched btn-queue">add to queue</button></li>
        </ul>-->
    </div>
</div>