.button {
  display: inline-block;

  color: $white-color;
  text-transform: uppercase;

  font-family: inherit;
  font-weight: 500;

  line-height: 1.33;
  text-align: center;
  border: 1px solid $white-color;

  border-radius: 5px;
  box-shadow: 0px 8px 43px 0px rgba(255, 107, 1, 0.6);

  cursor: pointer;

  &.btn-active {
    background-color: $btn-accent-color;
    border-color: $btn-accent-color;
  }
}

.header-button {
  padding: 13px 36px;
  font-size: 12px;

  min-width: 130px;
  min-height: 44px;

  background-color: transparent;

  @media screen and (min-width: 768px) {
    min-width: 136px;
    padding: 13px 38px;
  }
}

.poster-button {
  padding: 10px;
  font-size: 10px;
  min-width: 110px;

  height: 52px;

  background-color: rgb(38, 24, 4, 0.85);

  &:hover {
    transform: scale(1.05);
    background-color: $btn-accent-color;
  }
}

.active {
  background-color: $btn-accent-color;
}
