.switcher {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 5px;
  margin-left: 250px;

  @media screen and (min-width: 768px) {
    margin-left: 0px;
  }
}

body.light-ColorTheme {
  background-color: #ffffff;
  color: #333333;
}

body.dark-ColorTheme {
  background-color: #333333;
  color: #ffffff;
}

.toggle {
  @media screen and (max-width: 767px) {
    margin-right: auto;
    margin-left: auto;
  }
  overflow: visible;
  border-radius: 50%;
  transition: box-shadow, 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    box-shadow: 0px 8px 23px rgba(255, 107, 1, 0.6);
  }

  input {
    display: none;
  }

  input:checked ~ span {
    border-color: #ff6b08;
    background: #2c4e63;
    &:before {
      left: 42.2px;
      box-shadow: inset -5.8px 0 0 0.14px #ff9e42;
      background: transparent;
    }
  }

  span {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: 65px;
    height: 22px;
    cursor: pointer;
    border-radius: 70px;
    border: 2px solid #ff6b08;
    background: #e1f3fd;
    transition: all 0.5s cubic-bezier(0.34, 1.56, 0.64, 1);
    &:before {
      content: '';
      position: absolute;
      top: 1.5px;
      left: 4.2px;
      width: 15px;
      height: 15px;

      border-radius: 50%;
      box-shadow: inset -56px -56px 0 0 #ff9e42;
      transition: all 0.5s cubic-bezier(0, 0.55, 0.45, 1);
    }
  }
}
