<button class='pagination__arrow js-arrow-left'>
  <svg class='pagination__arrow-logo' width='16px' height='16px'>
    <use
      href='https://raw.githubusercontent.com/caraset/filmoteka/main/src/images/arrow-left.svg'
    ></use>
  </svg>
</button>