<div class="video-container">
    <img class="video-not-found_content" src="https://image.tmdb.org/t/p/w780{{poster_path}}">
    <p class='not-found__text video-not-found_text'>Nothing found... :(</p>
</div>